.m-first{
  .item1{
    color: $test-color-1;
  }
  .item2{
    font-size: px2rem(100);
    color: $test-color-2;
  }
  .item3{
    background-color: aqua;
    font-size: 2rem;
    color: $test-color-3;
  }
}
